<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit user</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class ="container">
    <h1>Editer un utilisateur</h1>
    <form th:action="@{/user/update}" th:object="${user}" method="POST">
    <input type="hidden" th:field="*{id_user}" th:value="${user.id_user}"  name="id" />
        <div>
            <label>Nom : </label> <input type="text" th:field="*{nom_user}" th:value="${user.nom_user}" name="nom"  class="form-control mb-2 col-4"/>
        </div>
        <br>
        <div>
            <label>Prenom : </label> <input type="text" th:field="*{prenom_user}" th:value="${user.prenom_user}" name="prenom" class="form-control mb-2 col-4"/>
        </div>
        <br>
        <div>
            <label>Email : </label> <input type="text" th:field="*{email}" th:value="${user.email}" name="email" class="form-control mb-2 col-4"/>
        </div>
        <br>
        
        <div>
            <label>Role : </label> <input type="text" th:field="*{role}" th:value="${user.role.nom_role}" class="form-control mb-2 col-4"/>
        </div> 
        <br> 
        <button type="submit" class="btn btn-primary">Editer</button>
    </form>
   </div> 
</body>
</html>